
<mat-card>
    <mat-card-content>    
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <h2><img src="../../assets/download.png" width="200px" height="140px"></h2>
        <mat-error *ngIf="errormessage">
          {{errormessage}}
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="username" required autocomplete="off">
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
    <br>
        <button mat-raised-button color="primary" [disabled]="(form.touched && !form.valid)">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
  
  